{% extends '::base.html.twig'%}

{% block body %}

    <!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> 

    <html class="no-js"> <!--<![endif]-->
        <head>

            <title>pegase</title>

            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">





        </head>
        {% block content %}
            <body>


                <div id="home-page">

                    <!-- site-navigation start -->  
                    <nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">

                        <div class="container">

                            <div class="navbar-header">

                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>              



                                <!-- navbar logo -->
                                <div class="navbar-brand">
                                    <span class="sr-only">pegase</span>


                                   

                                </div>
                                <!-- navbar logo -->

                            </div><!-- /.navbar-header -->

                            <br>      


                            <!-- nav links -->
                            <div class="collapse navbar-collapse" id="main-nav-collapse">
                                <ul class="nav navbar-nav navbar-right text-uppercase">



                                    </li> <!-- end of /.dropdown -->









                                </ul>
                            </div><!-- nav links -->

                        </div><!-- /.container -->
                        <br>


                        </div>
                    </nav>
                    <!-- site-navigation end -->


                    <!-- header start -->

                    <!-- /#header -->

                    <div class="main-content">

                        <!--  begin intro section -->

                        <section class="intro bg-light-white">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">

                                        <img src="{{asset('template1/img/intro3.jpg')}}" class="img-responsive center-block" alt="intro">     
                                    </div>

                                    <div class="col-md-7">
                                        <div class="intro-description">






                                        </div> <!-- end of /.intro-description -->
                                    </div>
                                </div>
                            </div> <!-- end of /.container -->
                        </section> 
                        <!--  end of intro section -->





                        <!--  begin portfolio section  -->

                        <!--   end of portfolio section  -->


                        <!-- begin twitter-feed section -->
                        <!--   end of /.twit-feed section  -->



                        <!-- begin pricing section -->

                        <!-- end of pricing section -->



                        <!--  begin testimonial section  -->


                        <!--  end of testimonial  section -->

                    </div> <!-- end of /.main-content -->

                               <footer>
                <div class="container">
                    <div class="row">

                        <!-- useful links -->
                      
                                
                         
                                

                        <!-- recent news -->
             

                        <!-- news-letter -->
                  

                        <!-- about avada agency -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Pegase </h4>

                         

                            <div class="footer-address">
                                <p>
                                    Adresse <br>
                                    App 9 residence el hakim avenue de paris ben arous 
                                    <br>
                             
                           
                                
                            </div>
                          
                       
                        </div> <!-- /.footer-widget -->
                         
                         <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                      
                          
                       
                        </div>
                        
                                <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                            <div class="footer-address">
                              
                               
                                <p> Tél 
                                    <br>  
                                    (+216) 79 391 088 <br>
                                   
                                </p>
                                <p>   Fax
                                    
                                    +216 79 391 056
                                    
                             
                                </p>
                                
                            </div>
                          
                       
                        </div> 
                        
                        
                    </div>
                    
                    <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                       <div class="container">
                    
                        <div class="navbar-header">
                        
                            <!-- navbar logo -->
                            <div class="navbar-brand">
                           
                           <a href="http://www.microsysteme.tn/"> @2018 All Rights Reserved. Designed by MicroSystem Solutions</a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                     
                </div><!-- /.container -->
            </nav>
                                
                </div>
            </footer>


                    <!-- footer-navigation start -->  
                 
                    <!-- footer-navigation end -->

                </div> <!-- end of /#home-page -->

                <!--  Necessary scripts  -->

            </body>
        {%endblock content %}
    </html>
{%endblock  %}